extends layout.pug

block content
    // //page
    // checkout page
    .privacy
    .container

        .col-md-1
        .col-md-10(style="background: white; text-align:center;")
            br
            br
            br
            br
            br
            // tittle heading
            h1.tittle-w3l Order Confirmation
            // //tittle heading
            
            
    
            .confimation( style="min-height:15rem;")
                p Thanks for shopping with SJSU Market!

        .col-md-1


block specific-script
    script(src="/confirm.js")